
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=ecomm_fastapi

FRONTEND_URL=https://blog-management-gold.vercel.app

DATABASE_URL=postgresql://neondb_owner:npg_9kuTFpVBI6ar@ep-lingering-water-ayokcjmw.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require